<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meanings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED5B7611BBC715900C046F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED5B77A1BBC715A00C046F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED5B7851BBC715A00C046F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
